@charset "UTF-8";

#profil { width: 20%; }
body{
	background-color:#eee;
	}

   .container{
   	background-color: #eee;
   }
   
   a, a:hover{
   	color: black;
   	text-decoration : none;
   }
   
	#pagination { 
		width:500px; 
		text-align:center;
    	margin: 0 auto;
    	font-size: 15px;
    	background-color:whitesmoke;
	 }
	 
	#pagination span {
		text-decoration: none;
    	border-color: #e5e5e5;
	 	margin-left:20px;
	 	color:#95af8a;
	 	margin-right:30px;
	 }
	 
	.textalign {
		text-decoration:underline;
	} 
	
	#catch_go {
		color:#F5481A;
	}
	
	#row_table {
		text-align: center;
		border:1px solid grey;
	}
	
	.thead_th {
		color: #eee;
		background-color: #95af8a;
		text-align: center;
	}
	
	#dto_title {
		font-weight:600";
	}
	
	#writer_img {
		width:20px;
		border-radius:10px;
	}